<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lorrainelanting.maj">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--  Package visibility in Android 11  -->
    <queries>
        <!-- Intent to SMS app -->
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto" />
        </intent>
    </queries>

    <application
        android:name=".app.MajApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAJ">
        <activity android:name=".ui.order.OrdersActivity" />
        <activity
            android:name=".ui.addresses.SetStreetActivity"
            android:label="Set Street Name" />
        <activity
            android:name=".ui.addresses.SetBarangayActivity"
            android:label="Set Barangay" />
        <activity
            android:name=".ui.addresses.SetCityActivity"
            android:label="Set City" />
        <activity
            android:name=".ui.checkout.CheckOutActivity"
            android:label="Check Out" />
        <activity android:name=".ui.productdetail.ProductDetailActivity" />
        <activity android:name=".ui.cart.CartActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>